.icon-container {
  border: solid 1px black;
  width: 275px;
  height: 200px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #282c34;
  color: #61dafb;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
}
